:root {
  --primary-title-color: #ffffff;
  --secondaty-title-color: #212121;
  --primary-text-color: #212121;
  --secondaty-text-color: #757575;
  --cursor-text-color: #2196f3;
  --secondary-logo-color: #000000;
  --primary-white-color: #ffffff;
  --footer-background-color: #2f303a;
  --hero-background-color: #2f303a;
  --team-background-color: #f5f4fa;
  --card-set-gap: 30px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

/* списки и подчеркивания */
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

/* лого */
.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  color: var(--cursor-text-color);
}

.logo-header {
  color: var(--secondary-logo-color);
}

.logo-footer {
  color: var(--primary-white-color);
}

/* --------студия---------- */
/* шапка сайта */
.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.header-link:hover,
.header-link:focus,
.current-link {
  color: var(--cursor-text-color);
}

.header-contacts-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondaty-text-color);
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--cursor-text-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

/* .header-container {
  outline: 1px solid red;
}

.header-list li {
  outline: 1px solid red;
} */

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 95px;
}

.header-list {
  display: flex;
  align-items: center;
}

.header-contacts-item {
  display: inline-block;
}

.header-contact {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.header-contacts-item:not(:last-child) {
  margin-right: 50px;
}

/* .header-item:not(:last-child) {
  margin-right: 50px;
} */

.header-list .header-item + .header-item {
  margin-left: 50px;
}

/* подвал сайта */
.footer {
  background-color: var(--footer-background-color);
}

.footer-address {
  font-style: normal;
}

.footer-address-map-link {
  font-weight: normal;
  line-height: 1.72;
  color: var(--primary-title-color);
}

.footer-address-link {
  font-weight: normal;
  line-height: 1.72;
  color: rgba(255, 255, 255, 0.6);
}

.footer-address-map-link:hover,
.footer-address-map-link:focus {
  color: var(--cursor-text-color);
}
.footer-address-link:hover,
.footer-address-link:focus {
  color: var(--cursor-text-color);
}

/* главная часть - студия */
/* section hero */
.hero-container{
  padding-top: 200px;
  padding-right: 252px;
  padding-bottom: 280px;
  padding-left: 252px;
}

.hero {
  background-color: var(--hero-background-color);
}

.hero-item {
  /* max-width: 696px; */

  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-title-color);
}



.hero-btn {
  display: block;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;

  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  cursor: pointer;

  color: #ffffff;
  background-color: #2196f3;
  border: 0;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

}

/* о преимуществах */
.benefits-list{
  display: flex;
}

.benefits-title {
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--secondaty-title-color);
}

.benefits-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondaty-text-color);
}

/* вид деятельности */
.activity-list{
  display: flex;
}

.activity-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: var(--secondaty-title-color);
}

.activity-img {
  width: 370px;
  height: 294px;
  left: 215px;
  top: 1061px;
}

/* знакомство с командой */
.team {
  background-color: var(--team-background-color);
}

.team-list {
  display: flex;
}

.team-title-primary {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--secondaty-title-color);
}

.team-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;
  color: var(--secondaty-text-color);
}

/* ----------портфолио---------- */
.filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--team-background-color);
  cursor: pointer;
  background: #F5F4FA;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.filter-list{
  display: flex;
}

.filter-btn:hover,
.filter-btn:focus,
.current-btn {
  background-color: var(--cursor-text-color);
  color: var(--primary-white-color);
}

.examples-tittle {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondaty-title-color);
  margin-bottom: 4px;
}

.examples-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;
  color: var(--secondaty-text-color);
}

.examples-list {
  /* outline: 1px solid tomato; */
  padding: 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap;

  margin-left: calc( -1 * var(--card-set-gap));
  margin-top: calc( -1 * var(--card-set-gap));
}

.examples-list .list-item {
  /* outline: 1px solid teal; */
  flex-basis: calc(100% / 3 - 30px);

  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.list-item-text {
  padding: 20px 24px ;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}